* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.karaoke {
    height: 500px;
    background: blueviolet;
    color: #fff;
    padding: 30px;
}
.karaoke h1 {
    text-align: center;
}
.karaoke .karaoke-child {
    max-width: 80%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
.karaoke .karaoke-child p {
    margin: 10px 0;
}
.karaoke .karaoke-child .word {
    position: relative;
}
.karaoke .karaoke-child .word span {
    position: absolute;
    left: 0;
    color: yellow;
    width: 0;
    overflow: hidden;
}
