@import "../partials/variables";
.hero {
    margin-bottom: 100px;
    .hero-info {
        .title {
            color: $color-primary;
            font-size: 3.7rem;
            font-weight: 800;
            line-height: 1.31;
        }

        .sub-title {
            color: $color-primary;
            font-size: 4.3rem;
            font-weight: 800;
            line-height: normal;
            max-width: 70%;
        }

        .desc {
            color: $color-primary;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.27;
            padding-top: 27px;
        }
    }
    .hero-image {
        background: $bg-color-primary;
        width: 50vw;
        border-radius: 16.667px 0px 0px 16.667px;
        padding: 55px 0;
        position: relative;
        min-height: 708px;
        span {
            font-size: 15.6rem;
            color: #22600025;
            font-weight: 800;
            line-height: 1;
            rotate: 90deg;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 10%;
            display: inline-block;
        }
        img {
            width: 525px;
            margin-top: 50px;
            margin-left: -120px;
        }
    }
}

@media screen and (max-width: 1400px) {
    .hero {
        .hero-image {
            span {
                font-size: 10rem;
                left: 6%;
            }

            img {
                width: 432px;
                margin-left: -60px;
            }
        }
    }
}
@media screen and (max-width: 1200px) {
    .hero {
        .hero-info {
            .sub-title {
                max-width: 90%;
            }
        }
        .hero-image {
            span {
                font-size: 10rem;
                top: -35px;
                left: -6%;
            }

            img {
                width: 350px;
                margin-left: -30px;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .hero {
        .hero-info {
            text-align: center;
            margin-bottom: 20px;
            .sub-title {
                max-width: 100%;
                padding-top: 5px;
            }
            .desc {
                max-width: 90%;
                margin: 0 auto;
            }
        }

        .hero-image {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0;
            img {
                margin: 0;
            }

            span {
                position: static;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .hero {
        .hero-image {
            display: block;
            text-align: center;

            img {
                margin: 0 auto;
                max-width: 70%;
                display: block;
            }

            span {
                rotate: 0deg;
                font-size: 10rem;
                display: block;
            }
        }
    }
}
