* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box {
    width: 200px;
    height: 200px;
    margin: 30px auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    background-image: conic-gradient(
        var(--color) calc(var(--rate) * 1%),
        transparent 0
    );
}

.circle {
    background: #fff;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color);
    font-size: 1.5rem;
    font-weight: bold;
}
