@font-face {
  font-family: Inter;
  src: url("../fonts/Inter/static/Inter-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  src: url("../fonts/Inter/static/Inter-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  src: url("../fonts/Inter/static/Inter-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Inter, sans-serif;
  overflow-x: hidden;
}

.btn-outline {
  padding: 11px 21px;
  background: white;
  border: 1px solid #46b20f;
  border-radius: 6.667px;
  color: #2c2c2c;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: normal;
  display: inline-block;
}

.header {
  box-shadow: 0px 1.667px 8.333px 0px rgba(0, 0, 0, 0.15);
  padding: 7px 0;
}

.header .container {
  display: flex;
  align-items: center;
}
.header .container .header-logo {
  margin-right: auto;
}
.header .container .navbar .menu {
  display: flex;
  align-items: center;
  gap: 50px;
}
.header .container .navbar .menu .header-logo {
  display: none;
}
.header .container .navbar .menu a {
  position: relative;
  color: #2c2c2c;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 130%;
  text-transform: capitalize;
  padding: 35px 0;
}
.header .container .navbar .menu a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #46b20f;
  border-radius: 6px;
  transition: width 0.3s ease;
}
.header .container .navbar .menu a:hover, .header .container .navbar .menu a.active {
  color: #46b20f;
}
.header .container .navbar .menu a:hover::after, .header .container .navbar .menu a.active::after {
  width: 100%;
}
.header .container .actions {
  display: flex;
  align-items: center;
  gap: 50px;
  padding-left: 50px;
}
.header .container .actions-cart {
  position: relative;
}
.header .container .actions-cart::before {
  content: "3";
  position: absolute;
  width: 15px;
  height: 15px;
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  top: -8px;
  right: -4px;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
}
.header .container .actions .btn-toggle-menu {
  font-size: 2rem;
  display: none;
}

@media screen and (max-width: 992px) {
  .header .container .navbar .menu {
    position: fixed;
    flex-direction: column;
    left: -250px;
    top: 0;
    width: 250px;
    height: 100vh;
    background: white;
    z-index: 99;
    align-items: flex-start;
    padding: 50px 20px;
    transition: left 0.5s ease;
  }
  .header .container .navbar .menu .header-logo {
    display: block;
  }
  .header .container .navbar .menu a::after {
    display: none;
  }
  .header .container .actions .btn-toggle-menu {
    display: block;
  }
  .header .overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s linear;
    transition-property: opacity, visibility;
    z-index: 2;
  }
  input:checked + .header .overlay {
    opacity: 1;
    visibility: visible;
  }
  input:checked + .header .navbar .menu {
    left: 0;
  }
}
.footer {
  margin-top: 138px;
  background-color: #f2ffec;
}
.footer .container .container-inner {
  padding-top: 40px;
}
.footer .container .container-inner .info-list {
  display: flex;
  justify-content: space-between;
}
.footer .container .container-inner .info-list .info-item .image img {
  width: auto;
  height: 163px;
}
.footer .container .container-inner .info-list .info-item .text-image {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.53;
  max-width: 230px;
  margin-left: auto;
}
.footer .container .container-inner .info-list .info-text {
  padding-top: 40px;
}
.footer .container .container-inner .info-list .info-text .title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 16px;
  color: #46b20f;
}
.footer .container .container-inner .info-list .info-text .text {
  margin-bottom: 8px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.53;
}
.footer .container .container-inner .info-list .info-text .text-wrap {
  display: flex;
  align-items: center;
  column-gap: 12px;
}
.footer .container .container-inner .info-list .info-text .text-wrap span {
  font-weight: 600;
  line-height: 1.5;
}
.footer .container .container-inner .info-list .info-text .text-wrap .text-col-last {
  font-weight: 400;
  line-height: 1.53;
}
.footer .container .container-inner .info-list .info-last .text-wrap {
  align-items: flex-start;
}
.footer .container .container-inner .border-bot {
  width: 100%;
  height: 2px;
  background-color: #a3a3a3;
  margin-top: 86px;
}
.footer .container .container-inner .social-wrap {
  margin-top: 29px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .container .container-inner .social-wrap .social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
}
.footer .container .container-inner .social-wrap .social-list img {
  background: #dcffca;
  padding: 10px;
  border-radius: 50%;
}

@media screen and (max-width: 992px) {
  .footer .container .container-inner .info-list {
    flex-direction: column;
  }
  .footer .container .container-inner .info-list .info-item .text-image {
    margin-left: 0;
  }
}
.quantity .container-inner {
  margin-top: 120px;
}
.quantity-title {
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 131.523%;
  max-width: 558px;
  margin: 0 auto;
  text-align: center;
  padding-top: 3px;
  padding-left: 3px;
}
.quantity-desc {
  margin-top: 25px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 127.604%;
  max-width: 643px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-left: 12px;
}
.quantity .quantity-list {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 22px;
  position: relative;
}
.quantity .quantity-list::after, .quantity .quantity-list::before {
  content: "";
  position: absolute;
  width: 282px;
  height: 282px;
  background-color: #dcffca;
  border-radius: 50%;
  z-index: -1;
}
.quantity .quantity-list::before {
  top: 0;
  left: 0;
}
.quantity .quantity-list::after {
  content: "";
  top: 60%;
  right: 0;
  background-color: #ffd5bd;
}
.quantity .quantity-list-item {
  box-shadow: -7px 10px 87px 0px rgba(54, 54, 54, 0.12);
  padding: 40px;
  border-radius: 4px;
  background-color: #fff;
  padding-left: 48px;
  padding-top: 30px;
  margin-top: 100px;
}
.quantity .quantity-list-item:not(:nth-child(2)) {
  width: 294px;
  height: 338px;
}
.quantity .quantity-list-item:nth-child(2) {
  width: 343px;
  height: 393px;
  padding-top: 62px;
}
.quantity .quantity-list-item .quantity-list-icon {
  display: inline-block;
  padding: 23px;
  border-radius: 12px;
  background-color: #fff0e7;
}
.quantity .quantity-list-item .icon-center {
  background-color: #f2ffec;
}
.quantity .quantity-list-item .quantity-list-number {
  display: block;
  color: #2c2c2c;
  margin: 23px 23px 23px 0;
  font-size: 4.3rem;
  font-weight: 800;
  line-height: normal;
}
.quantity .quantity-list-item .quantity-list-desc {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.54;
  max-width: 274px;
  text-align: left;
  padding-left: 2px;
}
.quantity .quantity-list-item .desc-center {
  max-width: 329px;
}

@media screen and (max-width: 1500px) {
  .quantity .container {
    max-width: 1320px;
  }
  .quantity .container .container-inner .quantity-list::after, .quantity .container .container-inner .quantity-list::before {
    width: 258px;
    height: 258px;
  }
  .quantity .container .container-inner .quantity-list-item:not(:nth-child(2)) {
    width: 322px;
  }
  .quantity .container .container-inner .quantity-list-item:nth-child(2) {
    width: 375px;
  }
}
@media screen and (max-width: 1400px) {
  .quantity .container {
    max-width: 1140px;
  }
  .quantity .container .container-inner .quantity-list::after, .quantity .container .container-inner .quantity-list::before {
    width: 223px;
    height: 223px;
  }
  .quantity .container .container-inner .quantity-list-item:not(:nth-child(2)) {
    width: 276px;
  }
  .quantity .container .container-inner .quantity-list-item:nth-child(2) {
    width: 321px;
  }
}
@media screen and (max-width: 1200px) {
  .quantity .container {
    max-width: 960px;
  }
  .quantity .container .container-inner .quantity-list {
    column-gap: 20px;
    height: 640px;
  }
  .quantity .container .container-inner .quantity-list::after, .quantity .container .container-inner .quantity-list::before {
    width: 152px;
    height: 152px;
  }
  .quantity .container .container-inner .quantity-list::before {
    top: 34px;
  }
  .quantity .container .container-inner .quantity-list::after {
    bottom: 34px;
  }
  .quantity .container .container-inner .quantity-list-item {
    padding: 20px;
  }
  .quantity .container .container-inner .quantity-list-item:not(:nth-child(2)) {
    width: 234px;
  }
  .quantity .container .container-inner .quantity-list-item:nth-child(2) {
    width: 272px;
  }
  .quantity .container .container-inner .quantity-list-item .quantity-list-icon {
    padding: 18px;
  }
  .quantity .container .container-inner .quantity-list-item .quantity-list-number {
    font-size: 4.6rem;
  }
  .quantity .container .container-inner .quantity-list-item .quantity-list-desc {
    font-size: 2rem;
  }
}
@media screen and (max-width: 992px) {
  .quantity .container {
    max-width: 720px;
    position: relative;
  }
  .quantity .container .container-inner .quantity-list {
    flex-direction: column;
    row-gap: 20px;
    height: 640px;
    max-width: 100%;
    margin-top: 80px;
  }
  .quantity .container .container-inner .quantity-list::after, .quantity .container .container-inner .quantity-list::before {
    width: 141px;
    height: 141px;
  }
  .quantity .container .container-inner .quantity-list::before {
    top: 0;
    left: 50%;
    transform: translateY(-50%) translateX(-100%);
  }
  .quantity .container .container-inner .quantity-list::after {
    bottom: 0;
    left: 50%;
    transform: translateY(50%) translateX(50%);
  }
  .quantity .container .container-inner .quantity-list-item {
    padding: 20px;
    max-width: 100%;
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
  .quantity .container .container-inner .quantity-list-item:not(:nth-child(2)) {
    width: 100%;
    height: 240px;
  }
  .quantity .container .container-inner .quantity-list-item:nth-child(2) {
    width: 100%;
    height: 240px;
    padding-top: 0;
  }
  .quantity .container .container-inner .quantity-list-item .quantity-list-icon {
    padding: 18px;
    margin-right: auto;
  }
  .quantity .container .container-inner .quantity-list-item .quantity-list-number {
    font-size: 4.6rem;
  }
  .quantity .container .container-inner .quantity-list-item .quantity-list-desc {
    font-size: 2rem;
    max-width: 100%;
    margin: 0;
  }
  .quantity .container .container-inner .quantity-list-item .quantity-list-center {
    max-width: 326px;
  }
}
@media screen and (max-width: 767px) {
  .quantity .container {
    max-width: 540px;
  }
  .quantity .container .container-inner .quantity-title {
    font-size: 3rem;
    max-width: 540px;
  }
  .quantity .container .container-inner .quantity-desc {
    max-width: 540px;
  }
}
@media screen and (max-width: 576px) {
  .quantity .container {
    max-width: 320px;
  }
  .quantity .container .container-inner .quantity-title {
    font-size: 2rem;
    max-width: 320px;
  }
  .quantity .container .container-inner .quantity-desc {
    max-width: 320px;
  }
  .quantity .container .container-inner .quantity-list {
    height: fit-content;
    margin-top: 40px;
  }
  .quantity .container .container-inner .quantity-list::after, .quantity .container .container-inner .quantity-list::before {
    width: 62px;
    height: 62px;
  }
  .quantity .container .container-inner .quantity-list::before {
    top: 0;
    left: 0;
    transform: translateY(-50%) translateX(-50%);
  }
  .quantity .container .container-inner .quantity-list::after {
    bottom: 0;
    left: 100%;
    transform: translateY(50%) translateX(-50%);
  }
  .quantity .container .container-inner .quantity-list .quantity-list-item {
    flex-direction: column;
    align-items: center;
  }
  .quantity .container .container-inner .quantity-list .quantity-list-item .quantity-list-icon {
    margin: 0;
  }
  .quantity .container .container-inner .quantity-list .quantity-list-item .quantity-list-icon img {
    width: 30px;
  }
  .quantity .container .container-inner .quantity-list .quantity-list-item .quantity-list-number {
    font-size: 3rem;
    margin: 16px 0;
  }
  .quantity .container .container-inner .quantity-list .quantity-list-item .quantity-list-desc {
    text-align: center;
  }
}
.products .container .title {
  color: #2c2c2c;
  font-size: 3.1rem;
  font-weight: 800;
  line-height: 1.31;
  text-align: center;
  margin-top: 200px;
}
.products .container .products-list {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 100px;
  row-gap: 120px;
}
.products .container .products-list .product-item {
  position: relative;
  flex-grow: 1;
  flex-basis: calc((100% - 200px) / 3);
  max-width: 323px;
}
.products .container .products-list .product-item::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 323px;
  border-radius: 50%;
  background-color: #ffba94;
}
.products .container .products-list .product-item .icon {
  padding-top: 138px;
  margin: 0 auto;
}
.products .container .products-list .product-item .icon-perspective {
  padding-left: 23px;
}
.products .container .products-list .product-item .icon-gamepad {
  padding-left: 16px;
}
.products .container .products-list .product-item .product-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: normal;
  margin: 16px auto 0;
  position: relative;
  height: 56px;
}
.products .container .products-list .product-item .product-title::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  width: 49px;
  height: 2px;
  background-color: #a3a3a3;
  translate: -50% 0;
}
.products .container .products-list .product-item .title-shadow {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.products .container .products-list .product-item .quantity {
  margin-top: 30px;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.3;
  text-align: center;
  color: #656565;
}
.products .container .products-list .product-item .cost {
  color: #2c2c2c;
  margin-top: 8px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3;
  text-align: center;
}
.products .container .products-list .product-item .cost span {
  font-size: 2.3rem;
  font-weight: 600;
  line-height: 1.14;
}
.products .container .products-list .product-item .btn {
  display: block;
  margin-top: 32px;
  padding: 16px 14px;
  border-radius: 8px;
  background-color: #46b20f;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: normal;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  cursor: pointer;
}
.products .container .products-list .product-item .btn:hover {
  background: transparent;
  border: 1px solid #46b20f;
  color: #46b20f;
}
.products .container .products-list .product-center::before {
  background-color: #c5ffa8;
}

@media screen and (max-width: 1500px) {
  .products .container {
    max-width: 1320px;
  }
}
@media screen and (max-width: 1400px) {
  .products .container {
    max-width: 1140px;
  }
}
@media screen and (max-width: 1200px) {
  .products .container {
    max-width: 960px;
  }
  .products .container .products-list {
    column-gap: 66px;
    row-gap: 100px;
  }
  .products .container .products-list .product-item {
    max-width: 270px;
  }
  .products .container .products-list .product-item::before {
    height: 270px;
  }
  .products .container .products-list .product-item .icon {
    padding-top: 115px;
  }
  .products .container .products-list .product-item .icon img {
    width: 240px;
  }
  .products .container .products-list .product-item .product-title {
    font-size: 2.4rem;
    height: 56px;
  }
  .products .container .products-list .product-item .quantity {
    font-size: 1.6rem;
  }
  .products .container .products-list .product-item .cost {
    font-size: 1.6rem;
  }
  .products .container .products-list .product-item .cost span {
    font-size: 2.4rem;
  }
  .products .container .products-list .product-item .btn {
    padding: 14px 12px;
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 992px) {
  .products .container {
    max-width: 720px;
  }
  .products .container .products-list {
    column-gap: 120px;
    row-gap: 80px;
    flex-wrap: wrap;
  }
  .products .container .products-list .product-item {
    flex-basis: calc((100% - 120px) / 2);
  }
  .products .container .products-list .product-item .icon-perspective {
    padding-left: 12px;
  }
  .products .container .products-list .product-item .icon-gamepad {
    padding-left: 16px;
  }
}
@media screen and (max-width: 767px) {
  .products .container {
    max-width: 540px;
  }
  .products .container .products-list {
    column-gap: 80px;
    flex-wrap: wrap;
  }
  .products .container .products-list .product-item {
    flex-basis: calc((100% - 80px) / 2);
  }
  .products .container .products-list .product-item::before {
    height: 230px;
  }
  .products .container .products-list .product-item .icon {
    padding-top: 100px;
  }
  .products .container .products-list .product-item .icon img {
    width: 190px;
  }
  .products .container .products-list .product-item .icon-donut {
    padding-left: 12px;
  }
  .products .container .products-list .product-item .icon-perspective {
    padding-left: 20px;
  }
  .products .container .products-list .product-item .icon-gamepad {
    padding-left: 18px;
  }
  .products .container .products-list .product-item .product-title {
    font-size: 2rem;
    height: 46px;
  }
  .products .container .products-list .product-item .cost span {
    font-size: 2rem;
  }
  .products .container .products-list .product-item .btn {
    padding: 12px 10px;
  }
}
@media screen and (max-width: 576px) {
  .products .container {
    max-width: 320px;
  }
  .products .container .products-list {
    row-gap: 80px;
  }
  .products .container .products-list .product-item {
    flex-basis: 100%;
  }
  .products .container .products-list .product-item::before {
    height: 270px;
  }
  .products .container .products-list .product-item .icon {
    padding-top: 120px;
  }
  .products .container .products-list .product-item .icon img {
    width: 240px;
  }
  .products .container .products-list .product-item .icon-donut {
    padding-left: 12px;
  }
  .products .container .products-list .product-item .icon-perspective {
    padding-left: 20px;
  }
  .products .container .products-list .product-item .icon-gamepad {
    padding-left: 18px;
  }
  .products .container .products-list .product-item .product-title {
    font-size: 2.4rem;
    height: 54px;
  }
  .products .container .products-list .product-item .quantity {
    font-size: 1.8rem;
  }
  .products .container .products-list .product-item .cost {
    font-size: 1.8rem;
  }
  .products .container .products-list .product-item .cost span {
    font-size: 2.4rem;
  }
  .products .container .products-list .product-item .btn {
    width: 100%;
    padding: 14px 12px;
  }
}
.news {
  padding-top: 128px;
}
.news-title {
  color: #2c2c2c;
  font-size: 3.1rem;
  font-weight: 800;
  line-height: 1.31;
  text-align: center;
}
.news-desc {
  color: #2c2c2c;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.27;
  padding-top: 23px;
  width: 56%;
  margin: 0 auto;
}
.news-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
}
.news-list .news-item {
  padding-top: 29px;
  width: 30%;
  cursor: pointer;
}
.news-list .news-item .news-image {
  width: 100%;
  overflow: hidden;
  border-radius: 6.667px;
}
.news-list .news-item .news-image img {
  width: 100%;
  border-radius: 6.667px;
  transition: scale 0.2s ease;
}
.news-list .news-item:hover img {
  scale: 1.1;
}
.news-list .news-item .news-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
}
.news-list .news-item .news-text .text {
  color: #46b20f;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: normal;
}
.news-list .news-item .news-text .date {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #a3a3a3;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: normal;
}
.news-list .news-item .news-text .date-center i {
  box-shadow: 0px 3.333px 3.333px 0px rgba(0, 0, 0, 0.25);
}
.news-list .news-item .title {
  color: #2c2c2c;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.33;
  padding-top: 17px;
}
.news-list .news-item .sub-title {
  color: #2c2c2c;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.27;
  padding-top: 16px;
}
.news-btn {
  text-align: center;
  padding-top: 80px;
}

@media screen and (max-width: 992px) {
  .news-desc {
    width: 85%;
  }
}
@media screen and (max-width: 767px) {
  .news-desc {
    width: 100%;
  }
  .news-list {
    justify-content: space-between;
  }
  .news-list .news-item {
    width: 45%;
  }
  .news-list .news-item:last-child {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .news-list {
    justify-content: space-between;
  }
  .news-list .news-item {
    width: 100%;
  }
}
.chopstick {
  padding-top: 100px;
  position: relative;
}
.chopstick .title {
  color: #2c2c2c;
  font-size: 3.1rem;
  text-align: center;
  font-weight: 800;
  line-height: 1.31;
  width: 40%;
  margin: 0 auto;
}
.chopstick .sub-title {
  width: 60%;
  color: #2c2c2c;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.27;
  text-align: center;
  margin: 0 auto;
  padding: 24px 0 50px;
}
.chopstick-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 22px;
}
.chopstick-list .chopstick-item {
  width: 30%;
  height: 360px;
  background-color: white;
  border-radius: 8.333px;
  cursor: pointer;
}
.chopstick-list .chopstick-item .image {
  width: 100%;
  border-radius: 8.333px;
  overflow: hidden;
}
.chopstick-list .chopstick-item .image img {
  width: 100%;
  border-radius: 8.333px;
  transition: scale 0.2s ease;
}
.chopstick-list .chopstick-item:hover img {
  scale: 1.1;
}
.chopstick-list .chopstick-item .heading {
  color: #e05000;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.33;
  padding: 24px 0 0 27px;
}
.chopstick-list .chopstick-item .shadow-text {
  text-shadow: 0px 3.333px 3.333px rgba(0, 0, 0, 0.25);
}
.chopstick-list .chopstick-item .desc {
  color: #2c2c2c;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.27;
  padding-left: 27px;
}
.chopstick .overlay {
  position: absolute;
  background: #fff0e7;
  width: 100vw;
  height: 360px;
  top: 0;
  z-index: -1;
  translate: 0 120%;
}

@media screen and (max-width: 992px) {
  .chopstick .title {
    width: 70%;
  }
  .chopstick .sub-title {
    width: 100%;
  }
  .chopstick-list .chopstick-item {
    width: 45%;
    height: 400px;
  }
  .chopstick-list .chopstick-item:last-child {
    height: 320px;
  }
  .chopstick .overlay {
    height: 550px;
  }
}
@media screen and (max-width: 576px) {
  .chopstick-list .chopstick-item {
    width: 100%;
    height: 440px;
  }
  .chopstick-list .chopstick-item:last-child {
    height: 440px;
  }
  .chopstick .overlay {
    inset: 0;
    height: 100%;
    top: 0;
    translate: 0 0;
    margin-top: 40px;
  }
}
.quality {
  padding-top: 250px;
}
.quality-list {
  max-width: 1179px;
  display: flex;
  align-items: center;
  column-gap: 63px;
  row-gap: 47px;
  flex-wrap: wrap;
  margin: 0 auto;
  transform: translateX(12px) translateY(15px);
}
.quality-list .quality-item {
  flex-basis: calc((100% - 126px) / 3);
  display: flex;
  column-gap: 19px;
}
.quality-list .quality-item .icon {
  transform: translateX(-4px);
}
.quality-list .quality-item .icon img {
  max-width: none;
  height: 67px;
}
.quality-list .quality-item .icon-1 {
  transform: translateX(2px);
}
.quality-list .quality-item .icon-3 {
  transform: translateY(3px) translateX(-5px);
}
.quality-list .quality-item .icon-4 {
  transform: translateX(3px);
}
.quality-list .quality-item .icon-6 {
  transform: translateX(-8px);
}
.quality-list .quality-item .content .title {
  margin-bottom: 8px;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.33;
  transform: translateX(-3px);
}
.quality-list .quality-item .content .title-1 {
  transform: translateX(2px) translateY(1px);
}
.quality-list .quality-item .content .title-2 {
  transform: translateX(-4px) translateY(1px);
}
.quality-list .quality-item .content .title-3 {
  transform: translateY(2px) translateX(-3px);
}
.quality-list .quality-item .content .title-4 {
  transform: translateY(2px) translateX(1px);
}
.quality-list .quality-item .content .title-5 {
  transform: translateY(2px) translateX(-3px);
}
.quality-list .quality-item .content .title-6 {
  transform: translateY(2px) translateX(-8px);
}
.quality-list .quality-item .content .desc {
  width: 260px;
  height: 117px;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: normal;
}
.quality-list .quality-item .content .desc-1 {
  transform: translateX(1px) translateY(3px);
}
.quality-list .quality-item .content .desc-2 {
  transform: translateY(2px) translateX(-3px);
}
.quality-list .quality-item .content .desc-3 {
  transform: translateY(2px) translateX(-4px);
}
.quality-list .quality-item .content .desc-4 {
  transform: translateY(2px) translateX(1px);
}
.quality-list .quality-item .content .desc-5 {
  transform: translateY(2px) translateX(-3px);
}
.quality-list .quality-item .content .desc-6 {
  transform: translateY(2px) translateX(-8px);
}

@media screen and (max-width: 1200px) {
  .quality .quality-list {
    column-gap: 20px;
  }
  .quality .quality-list .quality-item .content .title {
    font-size: 2rem;
  }
  .quality .quality-list .quality-item .content .desc {
    width: 223px;
  }
}
@media screen and (max-width: 992px) {
  .quality {
    padding-top: 200px;
  }
  .quality .container {
    max-width: 720px;
  }
  .quality .container .quality-list {
    column-gap: 20px;
    row-gap: 30px;
    margin-top: 150px;
  }
  .quality .container .quality-list .quality-item {
    column-gap: 20px;
    flex-basis: calc((100% - 20px) / 2);
  }
  .quality .container .quality-list .quality-item .icon img {
    width: 67px;
  }
  .quality .container .quality-list .quality-item .content .title {
    font-size: 2rem;
  }
  .quality .container .quality-list .quality-item .content .desc {
    width: 232px;
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 767px) {
  .quality .container {
    max-width: 540px;
  }
  .quality .container .quality-list {
    row-gap: 10px;
    justify-content: center;
    margin-top: 100px;
  }
  .quality .container .quality-list .quality-item {
    column-gap: 20px;
    flex-basis: 100%;
    justify-content: center;
  }
  .quality .container .quality-list .quality-item .icon img {
    width: 67px;
  }
  .quality .container .quality-list .quality-item .content .title {
    font-size: 2rem;
  }
  .quality .container .quality-list .quality-item .content .desc {
    width: 232px;
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 576px) {
  .quality {
    padding-top: 0;
  }
}
.form-submit {
  overflow: hidden;
  margin-top: 160px;
}
.form-submit .row {
  row-gap: 150px;
}
.form-submit .form-submit-img {
  position: relative;
}
.form-submit .form-submit-img::after {
  position: absolute;
  content: "";
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: #fff0e7;
  bottom: -141px;
  right: -41px;
  z-index: -1;
}
.form-submit .form p {
  color: #2c2c2c;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.33;
  padding-bottom: 23px;
}
.form-submit .form .row-input {
  display: flex;
  gap: 10px;
}
.form-submit .form input,
.form-submit .form textarea {
  width: 100%;
  height: 54px;
  border-radius: 8px;
  border: 1px solid #a3a3a3;
  padding: 16px;
  font-size: 1.8rem;
  font-weight: 400;
  outline: 0;
  margin-bottom: 28px;
}
.form-submit .form input::placeholder,
.form-submit .form textarea::placeholder {
  font-size: 1.8rem;
  font-weight: 400;
  color: #a3a3a3;
}
.form-submit .form textarea {
  height: 178px;
  margin-bottom: 32.06px;
  resize: none;
}
.form-submit .form .btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: normal;
  padding: 13px 52px;
  border-radius: 6.667px;
  background: #46b20f;
  border: 0;
  color: #fff;
  display: block;
  margin-left: 100%;
  translate: -100% 0;
}

@media screen and (max-width: 992px) {
  .form-submit {
    margin-top: 100px;
  }
  .form-submit .form-submit-img {
    display: none;
  }
  .form-submit .form p {
    text-align: center;
  }
  .form-submit .form .btn {
    margin: 0 auto;
    translate: 0 0;
  }
}
.hero {
  margin-bottom: 100px;
}
.hero .hero-info .title {
  color: #2c2c2c;
  font-size: 3.7rem;
  font-weight: 800;
  line-height: 1.31;
}
.hero .hero-info .sub-title {
  color: #2c2c2c;
  font-size: 4.3rem;
  font-weight: 800;
  line-height: normal;
  max-width: 70%;
}
.hero .hero-info .desc {
  color: #2c2c2c;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.27;
  padding-top: 27px;
}
.hero .hero-image {
  background: #dcffca;
  width: 50vw;
  border-radius: 16.667px 0px 0px 16.667px;
  padding: 55px 0;
  position: relative;
  min-height: 708px;
}
.hero .hero-image span {
  font-size: 15.6rem;
  color: rgba(34, 96, 0, 0.1450980392);
  font-weight: 800;
  line-height: 1;
  rotate: 90deg;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10%;
  display: inline-block;
}
.hero .hero-image img {
  width: 525px;
  margin-top: 50px;
  margin-left: -120px;
}

@media screen and (max-width: 1400px) {
  .hero .hero-image span {
    font-size: 10rem;
    left: 6%;
  }
  .hero .hero-image img {
    width: 432px;
    margin-left: -60px;
  }
}
@media screen and (max-width: 1200px) {
  .hero .hero-info .sub-title {
    max-width: 90%;
  }
  .hero .hero-image span {
    font-size: 10rem;
    top: -35px;
    left: -6%;
  }
  .hero .hero-image img {
    width: 350px;
    margin-left: -30px;
  }
}
@media screen and (max-width: 992px) {
  .hero .hero-info {
    text-align: center;
    margin-bottom: 20px;
  }
  .hero .hero-info .sub-title {
    max-width: 100%;
    padding-top: 5px;
  }
  .hero .hero-info .desc {
    max-width: 90%;
    margin: 0 auto;
  }
  .hero .hero-image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
  }
  .hero .hero-image img {
    margin: 0;
  }
  .hero .hero-image span {
    position: static;
  }
}
@media screen and (max-width: 767px) {
  .hero .hero-image {
    display: block;
    text-align: center;
  }
  .hero .hero-image img {
    margin: 0 auto;
    max-width: 70%;
    display: block;
  }
  .hero .hero-image span {
    rotate: 0deg;
    font-size: 10rem;
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
