* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

@font-face {
    font-family: "Space Grotesk";
    src: url("../fonts/Space_Grotesk/static/SpaceGrotesk-Regular.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Space Grotesk";
    src: url("../fonts/Space_Grotesk/static/SpaceGrotesk-Bold.ttf");
    font-style: normal;
    font-weight: 700;
}

body {
    font-family: "Space Grotesk", sans-serif;
}

.container {
    max-width: 1000px;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
}

.box-left .box-content {
    margin-bottom: 40px;
    position: relative;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 0.3s linear;
}

.box-content .text {
    width: 70%;
    text-align: right;
}

.box-left .box-content h3 {
    color: #000;
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 10px;
}

.box-content p {
    color: #757373;
    padding-bottom: 20px;
}

.box-content a {
    background: #e6dfdf;
    padding: 5px 15px;
    border-radius: 99px;
    color: #797575;
    font-weight: 700;
}

.box-content .text::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: #dfdbdb;
    border-radius: 50%;
    top: 0;
    left: 74%;
}

.box-content .text::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: green;
    border-radius: 50%;
    top: 5px;
    left: calc(74% + 5px);
    z-index: 1;
}

.time {
    color: #757373;
    padding-top: 10px;
}

.line {
    margin-top: 30px;
    width: 2px;
    height: 100px;
    background: #dfdbdb;
}

.box-content:hover,
.box-content:hover .time,
.box-content:hover .text {
    transform: scaleX(-1);
    text-align: left;
}

.box-content:hover .text a {
    background: #925216;
    color: #000;
}

.box-content:hover .text::after {
    left: -40px;
}

.box-content:hover .text::before {
    left: -35px;
}

.box-right {
    position: relative;
}

.box-right .box-text {
    height: 300px;
    width: 200px;
    position: absolute;
    top: 10%;
    left: -150px;
    background: url("https://fastly.picsum.photos/id/1/200/300.jpg?hmac=jH5bDkLr6Tgy3oAg5khKCHeunZMHq0ehBZr6vGifPLY")
        no-repeat;
    background-position: bottom;
}

.box-text .content {
    position: absolute;
    z-index: 1;
    inset: 0;
    background-color: aqua;
    margin: 8px;
}

.box-text .content h3 {
    position: absolute;
    font-size: 40px;
    background-image: url("https://fastly.picsum.photos/id/1/200/300.jpg?hmac=jH5bDkLr6Tgy3oAg5khKCHeunZMHq0ehBZr6vGifPLY");
    background-clip: text;
    color: transparent;
    background-position: bottom;
    font-weight: bold;
    bottom: 40px;
    right: 5px;
}

.box-text .content span {
    position: absolute;
    color: white;
    font-weight: 700;
    bottom: 20px;
    right: 5px;
}
