* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1000px;
    margin: 30px auto;
}

.container .box {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px 0;
}

.box .box-content {
    position: relative;
    width: 32%;
    border: 1px solid #ccc;
    padding: 30px;
    cursor: pointer;
    overflow: hidden;
}

.box-content .logo i {
    color: rgb(211, 90, 60);
    font-size: 30px;
    padding-bottom: 20px;
}

.box-content .content h2 {
    font-size: 20px;
    font-family: sans-serif;
    padding-bottom: 10px;
    transition: transform 0.3s linear;
}

.box-content .content p {
    width: 100%;
    font-size: 14px;
    font-family: sans-serif;
    color: #535252;
    padding-bottom: 20px;
    transition: transform 0.4s linear;
}

.box-content .content a {
    position: absolute;
    text-decoration: none;
    font-weight: 700;
    font-family: sans-serif;
    bottom: -50px;
    color: white;
    transition: bottom 0.3s linear;
}

img {
    position: absolute;
    inset: 0;
    background-position: center;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
}

.box-content .content a::after {
    position: absolute;
    content: "\f061";
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50%;
    top: -5px;
    right: -37px;
    transition: background-color 0.4s ease;
}

.box-content:hover {
    background: #e08013a2;
}

.box-content:hover img {
    opacity: 1;
    visibility: visible;
}

.box-content:hover .logo {
    transform: scale(0);
    opacity: 0;
    visibility: hidden;
}

.box-content:hover .content h2,
.box-content:hover .content p {
    color: #fff;
    transform: translateY(-60px);
}

.box-content:hover .content a {
    bottom: 20px;
}

.box-content .content a:hover::after {
    background-color: white;
    color: #ccc;
}
