* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

.carousel {
    position: relative;
    overflow: hidden;
}

.carousel .carousel-inner {
    display: flex;
    transition: translate 0.4s ease;
}

.carousel .carousel-inner > * {
    width: 100%;
    flex-shrink: 0;
}

.carousel .carousel-nav span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(128, 128, 128, 0.678);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 40px;
    height: 40px;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
}

.carousel .carousel-nav span.prev {
    left: 5px;
}

.carousel .carousel-nav span.next {
    right: 5px;
}

.carousel .carousel-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15px;
    gap: 10px;
}

.carousel .carousel-dots span {
    display: block;
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
}

.carousel .carousel-dots span.active {
    background: goldenrod;
}
