* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

@font-face {
    font-family: TitilliumWeb;
    src: url("../fonts/Titillium/Titillium_Web-Bold.ttf");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: TitilliumWeb;
    src: url("../fonts/Titillium/Titillium_Web-SemiBold.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Rajdhani;
    src: url("../fonts/Rajdhani/Rajdhani-SemiBold.ttf");
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: Rajdhani, sans-serif;
    font-weight: 700;
}

.landing-page {
    background: url("../images/landing-background.jpg") no-repeat 0;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    padding: 80px 0 100px;
    top: 0;
    left: 0;
}

.landing-page .landing-decoration {
    width: 64%;
    height: 140%;
    border-radius: 50%;
    background: url(../images/dot-texture.png) repeat 0 0 #fff;
    position: absolute;
    top: -20%;
    right: -32%;
    pointer-events: none;
}

.landing-header {
    width: 586px;
    position: relative;
    left: 6%;
}

.landing-header .logo {
    display: flex;
    justify-content: center;
}

.landing-header h2 {
    font-family: TitilliumWeb, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 36px;
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
}

.landing-header h1 {
    font-family: TitilliumWeb, sans-serif;
    font-size: 6.5rem;
    font-weight: 900;
    position: relative;
    top: -30px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}

.landing-header p {
    position: relative;
    top: -80px;
    width: 384px;
    margin: 30px auto 0;
    font-size: 1.1rem;
    line-height: 1.3em;
    font-weight: 500;
    color: #fff;
    text-align: center;
}

.landing-header .btn-tab {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.landing-header .btn-tab label {
    position: relative;
    top: -60px;
    width: 180px;
    height: 54px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 54px;
    text-align: center;
    cursor: pointer;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    user-select: none;
}

input[id="login"]:checked ~ .landing-page .landing-header label.login {
    background: #fff;
    color: #000 !important;
}

input[id="register"]:checked ~ .landing-page .landing-header label.register {
    background: #fff;
    color: #000 !important;
}

.landing-header .btn-tab label:nth-child(1) {
    border-radius: 10px 0 0 10px;
}

.landing-header .btn-tab label:last-child {
    border-radius: 0 10px 10px 0;
}

.landing-form {
    width: 100%;
}

.landing-form-login {
    width: 484px;
    padding: 64px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 0 60px 0 rgba(94, 92, 154, 0.12);
    transform: translate(50%, 0px);
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    position: static;
    left: 0px;
    transition: 0.3s linear;
    transition-property: opacity, visibility, transform;
    margin: 0 auto;
    display: block;
}

.landing-form-login img {
    display: none;
}

.landing-form-login h2 {
    font-size: 1.625rem;
    text-align: center;
    font-weight: 700;
    color: #3e3f5e;
    font-family: Rajdhani, sans-serif;
    line-height: 1em;
}

.landing-form-login .form {
    margin-top: 76px;
    width: 100%;
}

.landing-form-login .form .form-input {
    width: 100%;
    position: relative;
}

.landing-form-login .form .form-input input {
    background-color: #fff;
    border: 1px solid #dedeea;
    color: #3e3f5e;
    transition: border-color 0.2s ease-in-out;
    width: 100%;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: 700;
    height: 54px;
    padding: 0 18px;
}

.landing-form-login .form .form-input label {
    color: #adafca;
    font-size: 1rem;
    font-weight: 600;
    position: absolute;
    top: 20px;
    left: 20px;
    transition: all 0.3s ease-in-out;
    display: block;
    margin: 0;
    line-height: 1em;
    cursor: pointer;
    user-select: none;
    pointer-events: none;
}

.landing-form-login .form .form-input input:focus {
    outline-color: #615dfa;
}

.landing-form-login .form .form-input input:focus + label,
.landing-form-login .form .form-input input:not(:placeholder-shown) + label {
    background-color: #fff;
    padding: 0 6px;
    font-size: 0.75rem;
    top: -6px;
    left: 12px;
}

.landing-form-login .form .checkbox {
    position: relative;
}

.landing-form-login .form .checkbox label {
    padding-left: 14px;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 22px;
    cursor: pointer;
    color: #3e3f5e;
}

.landing-form-login .form .forgot a {
    color: #adafca;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 22px;
}

.landing-form-login .form .btn button {
    background-color: #615dfa;
    box-shadow: 4px 7px 12px 0 rgba(97, 93, 250, 0.2);
    height: 54px;
    line-height: 54px;
    display: inline-block;
    color: #fff;
    font-size: 0.875rem;
    font-weight: 700;
    text-align: center;
    width: 100%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.landing-form-login p {
    position: relative;
    margin-top: 40px;
    font-size: 0.875rem;
    font-weight: 700;
    text-align: center;
    color: #3e3f5e;
    line-height: 1em;
}

.landing-form-login .socials {
    margin-top: 30px;
}

.landing-form-login .socials .list-social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.landing-form-login .socials .list-social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin-right: 12px;
    transition: translate 0.3s ease-in-out;
}

.landing-form-login .socials .list-social a i {
    color: #fff;
    width: 12px;
    height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-form-register {
    width: 484px;
    padding: 64px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 0 60px 0 rgba(94, 92, 154, 0.12);
    transform: translate(50%, 0px);
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    position: static;
    left: 0px;
    transition: 0.3s linear;
    transition-property: opacity, visibility, transform;
    display: block;
    margin: 0 auto;
}

.landing-form-register img {
    display: none;
}

.landing-form-register h2 {
    font-size: 1.625rem;
    text-align: center;
    font-weight: 700;
    color: #3e3f5e;
    font-family: Rajdhani, sans-serif;
    line-height: 1em;
}

.landing-form-register .form {
    margin-top: 76px;
    width: 100%;
}

.landing-form-register .form .form-input {
    width: 100%;
    position: relative;
}

.landing-form-register .form .form-input input {
    background-color: #fff;
    border: 1px solid #dedeea;
    color: #3e3f5e;
    transition: border-color 0.2s ease-in-out;
    width: 100%;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: 700;
    height: 54px;
    padding: 0 18px;
}

.landing-form-register .form .form-input label {
    color: #adafca;
    font-size: 1rem;
    font-weight: 600;
    position: absolute;
    top: 20px;
    left: 20px;
    transition: all 0.3s ease-in-out;
    display: block;
    margin: 0;
    line-height: 1em;
    cursor: pointer;
    user-select: none;
    pointer-events: none;
}

.landing-form-register .form .form-input input:focus {
    outline-color: #615dfa;
}

.landing-form-register .form .form-input input:focus + label,
.landing-form-register .form .form-input input:not(:placeholder-shown) + label {
    background-color: #fff;
    padding: 0 6px;
    font-size: 0.75rem;
    top: -6px;
    left: 12px;
}

.landing-form-register .form .checkbox {
    position: relative;
}

.landing-form-register .form .checkbox label {
    padding-left: 14px;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 22px;
    cursor: pointer;
    color: #3e3f5e;
}

.landing-form-register .form .btn button {
    background-color: #23d2e2;
    box-shadow: 4px 7px 12px 0 rgba(35, 210, 226, 0.2);
    height: 54px;
    line-height: 54px;
    display: inline-block;
    color: #fff;
    font-size: 0.875rem;
    font-weight: 700;
    text-align: center;
    width: 100%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.landing-form-register p {
    width: 100%;
    margin-top: 30px;
    font-size: 0.875rem;
    font-weight: 500;
    color: #3e3f5e;
    line-height: 1.7142857143em;
}

.landing-form-register p a {
    color: #00c7d9;
    font-weight: 600;
}

.checkbox {
    position: relative;
}

.checkbox label {
    display: block;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
}

.checkbox label::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    left: 2px;
    border-radius: 4px;
}

.checkbox input:checked + label::after {
    content: "\00d7";
    color: #fff;
    font-size: 30px;
    position: absolute;
    top: 0;
    left: 2px;
    background: #23d2e2;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid #23d2e2;
    display: flex;
    justify-content: center;
}

input[id="login"]:checked ~ .landing-page .landing-form-login {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
}

input[id="register"]:checked ~ .landing-page .landing-form-register {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
}

.landing-form-login .socials a:hover {
    translate: 0 -4px;
}

@media screen and (max-width: 1364px) {
    .landing-header {
        width: 100%;
        left: 0;
    }

    .landing-header p {
        display: none;
    }

    .landing-form {
        position: relative;
    }

    .landing-form-register {
        translate: 0 -85%;
    }
}

@media screen and (min-width: 1365px) {
    .landing-form {
        width: 484px;
        height: 100%;
        position: absolute;
        top: 40px;
    }

    .landing-form-login img {
        display: block;
        position: absolute;
        translate: -100% -60%;
    }

    .landing-form-register {
        width: 484px;
        height: 100%;
        position: absolute;
        top: -40px;
    }

    .landing-form-register img {
        display: block;
        position: absolute;
        translate: -100% -60%;
    }
}

@media screen and (max-width: 1499px) {
    .landing-decoration {
        display: none;
    }
}

@media screen and (min-width: 1500px) {
    .landing-header {
        left: 13%;
    }
}
