//Lưu trữ biến
$color-primary: #2c2c2c;
$color-secondary: #46b20f;
$color-third: #a3a3a3;
$bg-color-primary: #dcffca;
$color-circle-first: #ffd5bd;
$color-circle-second: #dcffca;
$color-chopstick: #e05000;
