* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box {
    position: relative;
    height: 100vh;
    visibility: hidden;
}

.box .box-content {
    position: fixed;
    width: 40%;
    height: 100vh;
    top: 2px;
    background: #fff;
    padding: 50px 20px;
    left: -40%;
    transition: left 0.5s linear;
}

.box .overlay {
    width: 100%;
    position: fixed;
    inset: 0;
    background: #ccccccae;
}

input:checked ~ .box {
    visibility: visible;
}

input:checked ~ .box .box-content {
    left: 1px;
}
